.link-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    font-size: 18px;
}

.link-container > a{
    width: 200px;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;
    font-family: sans-serif;
}
.link-container > a > svg{
    width: 50px;
    font-size: 1.8rem;
}

.link-container > a:hover{
    text-decoration: underline;
}